{% extends 'main/template.html' %}
{% load static %}
{% block content %}

<style>
    .cardholder{
        margin-bottom: 100px;
    }
    .card-blue{
        background-color: var(--hsb-blue);
        height: 35px;
    }
    .card-image{
        height: 150px;
        overflow: hidden;
        background-position: center;
    }

    .card{
        margin-left: 20px;
    }
</style>
<section class="section-text" style="margin-top: 150px;">

    <div class="container text-center">
        <h4>Projekte des Professors und seinen wissenschaftlichen Mitarbeitern</h4>
        <hr>
        <p>Hier könnte jeweils Ihre Werbung stehen und Texte zu den einzelnen Projekten </p>
    </div>
</section>

<section class="cardholder">
    <div class="container d-flex flex-wrap">
        <div class="card" style="width: 18rem;">
            <div class="card-header card-blue"></div>
            <div class="card-image" style="background-image: url('{% static 'main/images/team/Licht1.jpg' %}')"></div>
            <div class="card-body">
              <h5 class="card-title">Licht und dessen Farben</h5>
              <p class="card-text">Aus was besteht Licht und was haben die Lichtfarben damit zu tun?</p>
              <a href="{% url 'experiments_doppelspalt' %}" class="btn btn-primary">Zur Beschreibung</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-header card-blue"></div>
            <div class="card-image" style="background-image: url('{% static 'main/images/team/Licht2.jpg' %}')"></div>
            <div class="card-body">
              <h5 class="card-title">Licht? Welle oder Teilchen?</h5>
              <p class="card-text">Wie ist Licht aufgebaut und ist Licht als Welle oder Teilchen zu betrachten</p>
              <a href="{% url 'experiments_laser_emissions' %}" class="btn btn-primary">Zur Beschreibung</a>
            </div>
        </div>

    </div>
</section>


{% endblock %}